@font-face {
    font-family: "montserat";
    src: url("../font/Montserrat-VariableFont_wght.ttf");
}

html {
    scroll-behavior: smooth;
}

body,
header {
    font-family: "montserat";
    background: #191817;
    color: white;
    line-height: 2.5rem;
}

a:any-link{
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 2vh;
    border: white solid;
    border-radius: 30px;
}

a:hover{
    padding: 2vh 3vh 2vh 3vh;
    /*Top, Left, Bottom, Right*/
    border: #bedbff solid;
    text-decoration: underline;
    color: #bedbff;
    transition: 0.2s;
}

main{
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
    border: white solid;
    padding: 3vh;
    text-align: center;
}


.button_main{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}