@media only screen and (max-width: 767px) {

    .t1,
    .t2,
    .txt,
    .txti,
    .avance>div,
    .inverse>div,
    .avance,
    .inverse,
    .top_pad {
        display: none;
    }

    header {
        width: 100%;
        height: 100px;

    }

    header>div {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: .5%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .link_head:any-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .about_wh {
        color: black;
        background-color: white;
        padding: 2vh;
        max-width: 100%;
        font-size: 20px;
    }

    .about {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .card {
        border: white solid 2px;
        /*Top, Left, Bottom, Right*/
        padding: 5% 5% 5% 5%;
        text-align: left;
        text-justify: auto;
    }

    .bold {
        font-weight: bold;
    }

    .about_bl h2 {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-style: italic;
    }

    .about_bl {
        margin: 5%;
        align-items: center;
    }

    .about_bl p {
        font-size: 20px;
        line-height: 3rem;
        max-width: 120vh;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        text-justify: auto;
    }

    .linked:any-link {
        cursor: pointer;
        color: white;
        text-decoration: none;
        padding: 2vh;
        border: white solid;
        border-radius: 30px;
    }

    .linked:hover {
        padding: 2vh 3vh 2vh 3vh;
        /*Top, Left, Bottom, Right*/
        border: #bedbff solid;
        text-decoration: underline;
        color: #bedbff;
        transition: 0.2s;
    }

    .wh_link:any-link {
        color: white;
        cursor: pointer;
    }

    .wh_link:hover {
        color: #bedbff
    }

    .icons {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin-top: 5%;
    }

    .foll {
        display: block;
        text-align: center;
        font-size: 25px;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-color: #121212;
    }

    .content {
        margin: 5%;
    }

    .bd-rad {
        border-radius: 100%;
        width: 100%;
    }

    .title_project {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
        font-size: 90px;
        font-style: italic;
    }

    .para_proj {
        font-size: 35px;
        line-height: 9vh;
        max-width: 120vh;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        text-justify: auto;
    }

    .top_pad {
        padding-top: 5%;
        background-color: #121212;
    }

    .resultat {
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 4%;
        max-width: 120vh;
        margin-left: auto;
        margin-right: auto;
    }

    .resultat div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        max-width: 50vh;
        padding: 1rem;
        background: #030303;
        color: white;
        border: white solid;
        box-shadow: 0 2px 20px white;
        border-radius: 20px;
    }

    .resultat div:hover {
        color: #bedbff;
        border: #bedbff solid;
        box-shadow: 0 2px 20px #bedbff;
        transition: 0.2s;
    }

    .resultat.games>.games,
    .resultat.websites>.websites,
    .resultat.videos>.videos,
    .resultat.others>.others {
        display: none;
    }

    .filter {
        display: grid;
        margin: 5% auto;
        grid-template-columns: 45% 45%;
        column-gap: .5%;
        justify-content: center;
        /*max-width: 28vh;*/
    }

    .filter div {
        margin: 10px;
    }

    .filter div label {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .filter div label span {
        position: relative;
        display: inline-block;
        background: #3b3b3b;
        padding: 20px 20px;
        color: #555;
        text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
        border-radius: 60px;
        font-size: 20px;
        transition: 0.5s;
        user-select: none;
        overflow: hidden;
    }

    .filter div label span:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgba(255, 255, 255, .1);

    }

    .filter div label input[type="checkbox"]:checked~span {
        background: white;
        color: black;
    }

    .filter div label input[type="checkbox"] {
        display: none;
    }

    .see_more:any-link {
        color: black;
        background-color: white;
        padding: 2%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: 50px;
        text-decoration: none;
        max-width: 100%;
    }

    .see_more:hover {
        color: black;
        background-color: #bedbff;
        padding: 3%;
        text-align: center;
        transition: 0.4s;
    }

    .card_t {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        display: flex;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        text-align: center;
    }

    .card_p {
        color: white;
    }

    .frame {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .linkd:any-link {
        display: block;
        margin-top: 5%;
        max-width: 50vh;
        padding: 1rem;
        color: white;
        border: white solid;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .linkd:hover {
        text-decoration: underline;
        transition: 0.2s;
        color: #bedbff;
        border: #bedbff solid;
    }

    .proj_title {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-style: italic;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        line-height: 6.5rem;
        text-align: center;
        justify-content: center;
    }

    .img_proj {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: white solid;
        width: 70%;
    }

    .images {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .im_flex {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .wh_link:any-link {
        color: white;
        cursor: pointer;
    }

    .wh_link:hover {
        color: #bedbff
    }

    .icons {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin-top: 5%;
    }

    .foll {
        display: block;
        text-align: center;
        font-size: 25px;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-color: #121212;
    }

    .para_proj {
        font-size: 20px;
        line-height: 5vh;
        max-width: 120vh;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
        text-justify: auto;
    }
}